<div class="container">
    <div class="row">
        <div class="card col-4">
            <p class="myNetwork">Manage my network</p>
            <div class="row">
                <hr>
                <div class="col-6">
                    <hr>
                    <p>87</p>
                    <hr>
                    <p>987</p>
                    <hr>
                    <p>237</p>
                    <hr>
                    <p>4</p>
                    <hr>
                    <p>86</p>
                    <hr>
                    <p>3</p>
                </div>
                <div class="col-6">
                    <hr>
                    <p>Connections</p>
                    <hr>
                    <p>Contacts</p>
                    <hr>
                    <p>People I Follow</p>
                    <hr>
                    <p>Groups</p>
                    <hr>
                    <p>Page</p>
                    <hr>
                    <p>HashTag</p>
                </div>
            </div>
        </div>
        <div class="card col-8">
            <p class="myNetwork1">More suggestions for you</p>
            <div class="row">
                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>
            </div><br>


            <div class="row">
                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>


                <div class="card col-4">
                    <img src="assets/user.jfif" alt="John" style="width:50%;height: 50px;">
                    <div class="row">
                        <div class="col-6">
                            <h5>John Doe</h5>
                        </div>
                        <div class="col-6">
                            <p class="title">Art designer</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-outline-primary"><i class="fa fa-user"></i>&nbsp; Follow</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>