<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">
    <div class="w3-row">
        <div class="w3-col m3">

            <div class="w3-card w3-round w3-white">

                <p class="myNetwork">Manage my network</p>
                <div class="row">
                    <div class="col-6">
                        <hr>
                        <p style="margin-left: 15px;">87</p>
                        <hr>
                        <p style="margin-left: 15px;">987</p>
                        <hr>
                        <p style="margin-left: 15px;">237</p>
                        <hr>
                        <p style="margin-left: 15px;">4</p>
                        <hr>
                        <p style="margin-left: 15px;">86</p>
                        <hr>
                        <p style="margin-left: 15px;">3</p>
                    </div>
                    <div class="col-6">
                        <hr>
                        <p>Connections</p>
                        <hr>
                        <p>Contacts</p>
                        <hr>
                        <p>People I Follow</p>
                        <hr>
                        <p>Groups</p>
                        <hr>
                        <p>Page</p>
                        <hr>
                        <p>HashTag</p>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- part 2 -->

        <div class="w3-col m9">


            <div class="w3-container w3-card w3-white w3-round w3-margin">
                <p class="myNetwork">More Suggestions for you</p>
                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile1.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Ajinkya Shinde</b></p>
                            <p>Junior CRM Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile3.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Raj chaudhary</b></p>
                            <p>Angular Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile4.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Nitin Thate</b></p>
                            <p>Junior CRM Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>
                </div>


                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile5.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Priyanka Patil</b></p>
                            <p>Junior CRM Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile6.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Shardul Thakur</b></p>
                            <p>Angular Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>

                    <div class="w3-third w3-margin-bottom">
                        <img src="assets/profile7.jfif" alt="New York" style="width:100%;height: 100px;"
                            class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Path Pujari</b></p>
                            <p>Angular Developer</p>
                            <button class="btn btn-primary" style="width: 100%;"><i
                                    class="fa fa-user"></i>&nbsp;Follow</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>