<div class="container">
    <h2>Linked<span>
        <i class="fab fa-linkedin"></i>
    </span></h2>
    <div class="text">
        <h1>Sign Up</h1>
        <p>Make the most of your professional life</p>
    </div>
    <div class="your-input">
        <div class="input">
            <input type="text" name="firstname" 
                id="firstname" required />
            <label for="firstname">Firstname</label>
        </div>
        <div class="input">
            <input type="text" name="lastname" 
                id="lastname" required />
            <label for="lastname">
                Lastname
            </label>
        </div>
        <div class="input">
            <input type="text" name="mobile" 
                id="mobile" required />
            <label for="mobile">
                Mobile
            </label>
        </div>
        <div class="input">
            <input type="text" name="email" 
                id="email" required />
            <label for="email">
                Email
            </label>
        </div>
        <div class="input">
            <input type="text" name="password" 
                id="password" required />
            <label for="password">
                Password
            </label>
        </div>
    </div>
    <button>Register</button>
</div>