<nav class="gradient navbar navbar-expand-sm navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="admindashboard">Admin Dashboard</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="usersprofile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="userspost">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="joblist">JobList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="addjob">CreateJob</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
<br><br><br>

<router-outlet></router-outlet>
