<div class="container">

    <!-- 1st part -->
    <div class="row">
        <div class="col-3 card">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-8 mt-3">
                        <img src="assets/profile1.jfif" alt="" style="border-radius: 50%;" height="70" width="70">
                    </div>
                </div>


                <div class="row">
                    <div class="col-2">
                       
                    </div>
                    <div class="col-9"><br>
                      <p style="font-size: 20px;">Welcome, Rohit!</p>
                    </div>
                    <p style="color: blue;text-align: center;font-size: 13px;">Add a photo</p>
                </div>
        </div>

        <!-- 2nd part -->

        <div class="col-6">

            <div class="row">
                <div class="col-2">
                    <img src="assets/profile.png" alt="" height="50" width="50">
                </div>
                <div class="col-10">
                    <div data-bs-toggle="modal" data-bs-target="#myModal"
                        style="border-radius: 50px;border: 1px solid gray; width: 100%;height: 40px;cursor: pointer;background-color: lightgray;">
                        <span style="margin-left: 20px;">Start a post</span>
                    </div>
                </div>
            </div>
            <hr>


            <div class="row">
                <div class="col-2">
                    <img src="assets/incub.png" alt="" height="50" width="60">
                </div>
                <div class="col-10"><span style="font-weight: bold;">IncubXperts</span> <br> <small>1,701
                        followers</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 14px;">Read our latest blog on 5 must-knows before engaging with a remote
                        partner to know more...</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/postImg.jfif" alt="">
            </div><br>
            <div class="row">
                <div class="col-3">
                    <div>
                        <i class='far fa-thumbs-up'></i>
                        Like
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='far fa-comment'></i>
                        Comment
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-share'></i>
                        Share
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-download'></i>
                        Download
                    </div>
                </div>
            </div><br>
            <hr>



            <div class="row">
                <div class="col-2">
                    <img src="assets/amazon.jfif" alt="" height="50" width="60">
                </div>
                <div class="col-10"><span style="font-weight: bold;">Amazon Web Services</span> <br> <small>50k
                        followers</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 14px;">Boost innovation & reduce costs by 40% with AWS services, the broadest &
                        deepest portfolio of cloud services.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/amazonpost.jfif" alt="">
            </div><br>
            <div class="row">
                <div class="col-3">
                    <div>
                        <i class='far fa-thumbs-up'></i>
                        Like
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='far fa-comment'></i>
                        Comment
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-share'></i>
                        Share
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-download'></i>
                        Download
                    </div>
                </div>
            </div><br>
            <hr>



            <div class="row">
                <div class="col-2">
                    <img src="assets/incub.png" alt="" height="50" width="60">
                </div>
                <div class="col-10"><span style="font-weight: bold;">IncubXperts</span> <br> <small>1,701
                        followers</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 14px;">Everyone celebrating Ganesh festival in their Ethnic best at IX !🌺
                        Ganpati Bappa Morya!</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/incubCelebrationPost.jfif" alt="">
            </div><br>
            <div class="row">
                <div class="col-3">
                    <div>
                        <i class='far fa-thumbs-up'></i>
                        Like
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='far fa-comment'></i>
                        Comment
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-share'></i>
                        Share
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-download'></i>
                        Download
                    </div>
                </div>
            </div><br>
            <hr>



            <div class="row">
                <div class="col-2">
                    <img src="assets/vm.jfif" alt="" height="50" width="60">
                </div>
                <div class="col-10"><span style="font-weight: bold;">VMware</span> <br> <small>8,904
                        followers</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 14px;">Give remote employees the freedom to use any device, from any location,
                        with the VMware Anywhere Workspace.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/vmvare.jfif" alt="">
            </div><br>
            <div class="row">
                <div class="col-3">
                    <div>
                        <i class='far fa-thumbs-up'></i>
                        Like
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='far fa-comment'></i>
                        Comment
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-share'></i>
                        Share
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-download'></i>
                        Download
                    </div>
                </div>
            </div><br><hr>




            <div class="row">
                <div class="col-2">
                    <img src="assets/llogo.jfif" alt="" height="50" width="60">
                </div>
                <div class="col-10"><span style="font-weight: bold;">LinkedIn</span> <br> <small>20M
                        followers</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 14px;">Exploring new job opportunities?</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/post4.jfif" alt="">
            </div><br>
            <div class="row">
                <div class="col-3">
                    <div>
                        <i class='far fa-thumbs-up'></i>
                        Like
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='far fa-comment'></i>
                        Comment
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-share'></i>
                        Share
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <i class='fas fa-download'></i>
                        Download
                    </div>
                </div>
            </div><br><br><hr>


        </div>

        <!-- 3rd part -->
        <div class="col-3 card">
            <div class="row mt-3">

            </div>

            <div class="row mt-3">

                <div class="row">
                    <div class="col-8">

                    </div>
                    <div class="col-4">

                    </div>
                </div>


                <div class="row">
                    <div class="col-8">

                    </div>
                    <div class="col-4">

                    </div>
                </div>

            </div>
            <!-- <div class="row card">
                <p style="margin-left: 220px;">Ad ...</p>
                <img src="assets/linkedin-logo.jfif" alt="" 
                    style="margin-left: 100px;margin-top: 30px;height: 60px;width: 80px;">
                <div class="row mt-2">
                   
                    <div>
                        Rohit, explore jobs at LinkedIn that match your skills
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button class="btn btn-outline-primary" style="margin-left: 100px;">See jobs</button>
                    </div><br><br>
                </div>
            </div> -->
        </div>

    </div>





    <!--Create post modal code -->

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create a post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/profile1.jfif" alt="" height="60" width="60">
                        </div>
                        <div class="col-10">
                            <p style="font-weight: bolder;">Rohit Kalebag</p>
                            <p style="font-size: 13px;">78 followers</p>
                        </div>
                    </div><br>

                    <div class="row">
                        <input class="w3-input w3-border-0" type="text" placeholder="What do you want to talk about?">
                    </div><br><br>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/imageUpload.png" alt="" height="40" style="cursor: pointer;"
                                data-bs-toggle="modal" data-bs-target="#myModalImage">
                        </div>
                        <div class="col-4">
                            <img src="assets/videoIcon.png" alt="" height="40" style="cursor: pointer;">
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--browse image modal code -->

    <div class="modal" id="myModalImage">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Select your photo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="Neon Neon-theme-dragdropbox">
                        <input
                            style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
                            name="files[]" id="filer_input2" multiple="multiple" type="file">
                        <div class="Neon-input-dragDrop">
                            <div class="Neon-input-inner">
                                <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
                                <div class="Neon-input-text">
                                    <h3>Drag&amp;Drop files here</h3> <span
                                        style="display:inline-block; margin: 15px 0">or</span>
                                </div><a class="Neon-input-choose-btn blue">Browse Files</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>